<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>logginLevel</key>
		<string>DEBUG</string>
		<key>domainName</key>
		<string>http://iosrecipes.com/DEV/</string>
		<key>apiBaseUrl</key>
		<string>http://iosrecipes.com/DEV/scripts/</string>
		<key>saveRecipe</key>
		<string>save_recipe.php</string>
		<key>saveRecipeImage</key>
		<string>save_recipe_image.php</string>
		<key>saveFBAccount</key>
		<string>save_fb_account.php</string>
		<key>retrieveRecipes</key>
		<string>retrieve_recipes.php</string>
		<key>updateRecipe</key>
		<string>update_recipe.php</string>
		<key>deleteRecipe</key>
		<string>delete_recipe.php</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>loggingLevel</key>
		<string>DEBUG</string>
		<key>domainName</key>
		<string>http://iosrecipes.com/DEV/</string>
		<key>apiBaseUrl</key>
		<string>http://iosrecipes.com/DEV/scripts/</string>
		<key>saveRecipe</key>
		<string>save_recipe.php</string>
		<key>saveRecipeImage</key>
		<string>save_recipe_image.php</string>
		<key>saveFBAccount</key>
		<string>save_fb_account.php</string>
		<key>retrieveRecipes</key>
		<string>retrieve_recipes.php</string>
		<key>updateRecipe</key>
		<string>update_recipe.php</string>
		<key>deleteRecipe</key>
		<string>delete_recipe.php</string>
	</dict>
</dict>
</plist>
